.brand {
  color: #f8f3d4;
  font-weight: bolder;
}

.Header {
  display: flex;
  justify-content: space-between;
  background-color: #004e92;
}

.profile-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img {
  height: 50px;
  width: 50px;
}

.content-section {
  background-image: linear-gradient(to bottom, #004e92, #000428);
  font-family: "Montserrat", sans-serif;
}
