.category-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-name {
  position: absolute;
  bottom: 0;
  font-size: 25px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  backdrop-filter: blur(5px);
}

.category-name:hover {
  opacity: 1;
}
